@use './variables';
.header {
  padding: 5px;
  // header font
  font-family: var(--header-font);
  font-weight: var(--bold-font);
  background-color: var(--secondary-color);
}

.header-title {
  pointer-events: none;
  display: inline-block;
  color: var(--text-color);
  text-transform: capitalize;
  margin-left: 2rem;
  font-size: var(--font-size-800);
  font-weight: var(--bold-font);
}

.nav-section {
  padding: 5px;
  background-color: var(--dark-accent-color);
}

// menu icon
.menu-icon-section {
  font-size: var(--font-size-800);
  color: var(--secondary-color);
  .menu-icon {
    &:before {
      margin-left: 0.5rem;
    }
    &:hover {
      color: var(--third-color);
    }
    &:focus {
      color: var(--third-color);
      transform: scale(0.5);
      outline: 1px solid var(--vibrant-accent-color);
      outline-offset: 0.4rem;
      animation: scale-transition 120ms ease-in-out normal none;
    }
  }
  // nav icon button
  .nav-btn {
    // get rid of the default button styling because i just want the
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
    outline: none;
  }
}
.icon-btn-section {
  display: inline-block;
  position: relative;
  margin-top: 2rem;
}
.icon-btn {
  background: none;
  border: none;
  color: var(--third-color);
  font-size: var(--font-size-300);
}
@keyframes scale-transition {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}
