@use './variables';
.header {
  padding: 5px;
  // header font
  font-family: var(--header-font);
  font-weight: var(--bold-font);
  background-color: var(--secondary-color);
}

.header-title {
  pointer-events: none;
  display: inline-block;
  color: var(--text-color);
  text-transform: capitalize;
  margin-left: 2rem;
  font-size: var(--font-size-800);
  font-weight: var(--bold-font);
}

.nav-section {
  padding: 5px;
  background-color: var(--dark-accent-color);
}

.menu-icon-section {
  font-size: var(--font-size-800);
  color: var(--secondary-color);
}
.menu-icon::before {
  cursor: pointer;
}
.menu-icon:hover {
  color: var(--third-color);
  .menu-icon:focus {
    color: var(--third-color);
  }
}
