:root {
  // colors
  --bg-color: #13011a;
  --primary-color: #2d033b;
  --secondary-color: #810ca8;
  --third-color: #c147e9;
  --dark-accent-color: #0b010f;
  --vibrant-accent-color: #d16ff1;
  --text-color: #e5b8f4;
  --red-accent-color: #fb747e;
  --accent-dark-red: #30171a36;
  --light-red-accent-color: #fab2b7;
  --accent-aqua: #8becf5;
  --light-accent-aqua: #a8e9ee;
  --accent-white: #e9dcec;
  // fonts
  --header-font: 'Black Ops One', cursive;
  --body-font: 'Coda', cursive;
  // font weight
  --bold-font: 800;
  --regular-font: 300;
  // font sizes
  --size-100: 0.5rem;
  --size-200: 0.7rem;
  --size-300: 1rem;
  --size-400: 1.2rem;
  --size-500: 1.5rem;
  --size-600: 1.7rem;
  --size-700: 2rem;
  --size-800: 3rem;
}
