.upload-container {
  height: 30em;
  width: 100vw;
  margin-top: 2rem;
  background-color: var(--accent-dark-red);
  .upload-title {
    position: relative;
    bottom: 2rem;
    margin-left: 1em;
    font-size: var(--size-500);
    font-weight: 500;
    background-color: var();
    color: var(--light-red-accent-color);
  }
}
